coverage
*.lcov

.nyc_output

.grunt

bower_components

.lock-wscript

build/Release

jspm_packages/

node_modules
package-lock.json

.env
.env.*
!.env.example

.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?